
#wrapper {
	width:960px;
	margin-left:auto;
	margin-right:auto;
}

body#gigs_template {
	background:#231f20;
}

#banner {
	width:466px;
	height:75px;
	margin-left:auto;
	margin-right:auto;
	background:url("../images/joof_editions_logo.png");
}

#gigs_table {
	width:960px;
	font:bold 24px/18px "Trebuchet MS", Sans-serif;
	letter-spacing: -1px;
	padding:0;
	text-shadow: 0 1px 1px #000;
}

.admin_links {
	font-size:10px;
	font-weight:normal;
	text-shadow: none;
	letter-spacing: -0.0px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
